**/.ipython
**/.ipynb_checkpoints
**/.jupyter
**/.local
**/__pycache__
**/*.sock
**/.cache
**/.bash_history
**/.python_history
**/.triton
**/log/**
**/*.pickle
**/.config
**/.keras
**/.sudo_as_admin_successful